<h2 class="h2 profile-heading">My Posts</h2>
<div class="columns is-multiline my-auto">
    {{#each projects}}
    {{> projects/project-block}}
    {{/each}}
</div>

<h2 class="h2 profile-heading">Projects I'm Interested In</h2>
<div class="columns is-multiline my-auto">
    {{#each projects}}
    {{> projects/project-block}}
    {{/each}}
</div>