<h1>My Posts</h1>
<div class="columns is-multiline my-auto">
    {{#each projects}}
    {{> projects/project-block}}
    {{/each}}
</div>

<h1>Projects I'm Interested In</h1>
<div class="columns is-multiline my-auto">
    {{#each projects}}
    {{> projects/project-block}}
    {{/each}}
</div>